<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ravin.com.learnenglish">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Logout.LogoutActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider"
            android:exported="true" />

        <activity android:name=".Signup.SignupActivity" />
        <activity android:name=".ForgotPassword.ForgotPasswordActivity" />
        <activity android:name=".Home.MainPageActivity" />
        <activity
            android:name=".Conversation.ConversationActivity"
            android:label="@string/title_activity_conversation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Quiz.QuizActivity"
            android:label="@string/title_activity_quiz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Grammar.GrammarActivity"
            android:label="@string/title_activity_grammar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dictionary.DictionaryActivity"
            android:label="@string/title_activity_dictionary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GREWords.GREWordsActivity"
            android:label="@string/title_activity_grewords"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DailyPhrases.DailyPhrasesActivity"
            android:label="@string/title_activity_daily_phrases"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pronunciation.PronunciationActivity"
            android:label="@string/title_activity_pronunciation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DiscussionForum.DiscussionForumActivity"
            android:label="@string/title_activity_discussion_forum"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>